altgraph==0.17.4
auto-py-to-exe==2.44.1
babel==2.16.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.7.4
charset-normalizer==3.3.2
Eel==0.17.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.8
macholib==1.16.3
numpy==2.1.0
packaging==24.1
pandas==2.2.2
playwright==1.46.0
pyee==11.1.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
setuptools==73.0.1
six==1.16.0
tkcalendar==1.6.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
whichcraft==0.6.1
zope.event==5.0
zope.interface==7.0.1
